:root {
    --darkBlue: hsl(233, 26%, 24%);
    --limeGreen: hsl(136, 65%, 51%);
    --brightCyan: hsl(192, 70%, 51%);

    --grayishBlue: hsl(233, 8%, 62%);
    --lightGrayishBlue: hsl(220, 16%, 96%);
    --veryLightGray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
}
/*--- --- --- --- Estilos generales --- --- --- ---*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
body {
    font-family: 'Public Sans';
}
/*--- --- --- --- Estilos del header --- --- --- ---*/
.header,
.hero,
.choose {
    display: grid;
    grid-template-columns: 1fr 87% 1fr;
}
.header__content {
    padding-top: 1.4em;
    padding-bottom: 1.4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 2 / 3;
    position: relative;
}
.header {
    background-color: var(--white);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.header__buttom {
    display: none;
}
.header__nav {
    background-color: var(--white);
    width: 100%;
    top: 140%;
    right: 110%;
    border-radius: 5px;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: .7em;
    padding-bottom: .7em;
    transition: all .3s ease;
}
.header__nav--toggle {
    right: 0;
}
.header__nav-item {
    font-size: 1.15em;
    color: var(--darkBlue);
    padding-top: .7em;
    padding-bottom: .7em;
    text-align: center;
}
.nav-bg {
    background: linear-gradient(var(--darkBlue), rgba(255, 255, 255, 0));
    position: absolute;
    top: 100%;
    width: 100%;
    height: 0;
}
.nav-bg--toggle {
    height: 100vh;
}
/*--- --- --- --- Estilos del banner --- --- --- ---*/
.banner {
    background-image: url(../images/bg-intro-mobile.svg);
    background-repeat: no-repeat;
    margin-bottom: 1.2em;
    display: grid;
    grid-template-columns: 1fr 92% 1fr;
}
.banner__img {
    height: 365px;
    grid-column: 2 / 3;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
}
/*--- --- --- --- Estilos del hero --- --- --- ---*/
.hero__content {
    text-align: center;
    grid-column: 2 / 3;
    margin-bottom: 5.5em;
}
.hero__title {
    font-size: 2.4em;
    color: var(--darkBlue);
    font-weight: 300;
    margin-bottom: .5em;
}
.hero__text{
    font-size: .9em;
    color: var(--grayishBlue);
    line-height: 1.7em;
    margin-bottom: 3em;
}
.buttom {
    font-size: .9em;
    background: linear-gradient(to right, var(--limeGreen), var(--brightCyan));
    color: var(--white);
    padding: .9em 2.5em;
    border-radius: 100px;
}
/*--- --- --- --- Estilos del choose --- --- --- ---*/
.choose {
    background-color: var(--lightGrayishBlue);
    padding-top: 4.5em;
}
.choose__wrap {
    text-align: center;
    grid-column: 2 / 3;
}
.choose-description__title {
    font-size: 2em;
    font-weight: 300;
    color: var(--darkBlue);
    margin-bottom: .5em;
}
.choose-description__paragraph {
    font-size: .9em;
    color: var(--grayishBlue);
    line-height: 1.7em;
    margin-bottom: 4.5em;
}
.choose-card {
    margin-bottom: 3.3em;
}
.choose-card__img {
    margin-bottom: 1.5em;
}
.choose-card__title {
    font-size: 1.15em;
    color: var(--darkBlue);
    font-weight: 400;
    margin-bottom: 1.2em;
}
.choose-card__paragraph {
    font-size: .9em;
    color: var(--grayishBlue);
    line-height: 1.7em;
}
@media (min-width: 1200px){
    .header,
    .hero {
        display: grid;
        grid-template-columns: 1fr 82% 1fr;
    }
    .header__icon {
        display: none;
    }
    .header__nav {
        display: flex;
        justify-content: space-between;
        width: 30%;
    }
    .header__nav-icon {
        font-size: .9em;
        color: var(--grayishBlue);
    }
    .header__buttom {
        display: inline;
    }
    .wrap {
        background-color: var(--veryLightGray);
        display: grid;
        grid-template-columns: 43% 57%;
        grid-template-areas: "hero banner";
    }
    .banner {
        background-image: url(../images/bg-intro-desktop.svg);
        background-position: left bottom;
        background-size: auto;
        grid-area: banner;        
        overflow: hidden;
    }
    .banner__img {
        margin-left: 20%;
        width: 100%;
        height: 100%;
        object-position: 0 25px;
    }
    .hero {
        grid-area: hero;
        padding-left: 18%;
        display: flex;
        align-items: center;
    }
    .hero__content {

        grid-column: 2 / 3;
        text-align: left;
    }
    .hero__title {
        font-size: 3.4em;
    }
    .hero__text {
        font-size: 1.14em;
        line-height: 1.5em;
    }
    .hero__buttom {
        font-size: .95em;
    }

}